.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: darkblue;
}


body {
  text-align: center;
  text-decoration-color: black;
  font-family: 'Roboto', sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: blueviolet;
}

ul {
  list-style-type: none;
  text-align: center;
}

.text {
   margin: auto;
  width: 400px;
}
img{
  padding: 20px;
}
